
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span color:red> About </span> us </h1>

    <div class="row">

       

        <div class="content">
            <h3>why choose us?</h3>
            <p></p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <img src="https://m.media-amazon.com/images/I/41yoAR-OhqL.jpg" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://i1.fnp.com/images/pr/l/v20220706181822/pretty-in-pastel-roses-bouquet_1.jpg" alt="">
        <div class="info">
            <h3>10 days returns</h3>
            <span>moneyback guarantee</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://www.oyegifts.com/flowers-n-gifts/vendordata/product/gifts-online-120.jpg" alt="">
        <div class="info">
            <h3>offer & gifts</h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="https://indianflowercakengifts.com/product-images/1494069301-25-White-n-Pink-Roses-Midnight-Online-Delivery.jpg" alt="">
        <div class="info">
            <h3>secure paymens</h3>
            <span>protected by paypal</span>
        </div>
    </div>
   
</section>

<!-- icons section ends -->
