
<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span> contact </span> us </h1>

    <div class="row">

        <form action="">
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="number" placeholder="number" class="box">
            <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <div class="image">
            <img src="https://i.pinimg.com/736x/b0/26/fd/b026fd519337a1dc0c227081234da563--red-lily-hand-bouquet.jpg" alt="">
        </div>

    </div>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">products</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my favorite</a>
        </div>

        <div class="box">
            <h3>locations</h3>
            <a href="#">india</a>
            <a href="#">USA</a>
            <a href="#">japan</a>
            <a href="#">france</a>
        </div>


        <div class="box">
            <h3>contact info</h3>
            <a href="#">628148854</a>
            <a href="#">amruthaswarupa286@gmail.com</a>
            <a href="#">vijayawada, india - 400104</a>
            <img src="https://www.fnp.com/images/pr/l/oriental-lilies-carnations-mixed-bouquet_1.jpg" alt="">
        </div>

    </div>

    <div class="credit"> created by <span>D Amrutha swarupa </span> | all rights reserved </div>

</section>

<!-- footer section ends -->    
