a:link,a:visited{
    background-color: white;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin-left:60px;
    margin-right:100px;
}

a:hover,a:active{
    background-color: #6F4E37;
}
