.home{
    align-items: center;
    max-height: 50;
    margin: 90px;
    padding: 100px;

}
.about{
    align-items: center;
    max-height: 50;
    margin: 90px;
    padding: 100px;
}
.product{
    align-items: center;
    max-height: 50;
    margin: 90px;
    padding: 100px;
}
.review{
    align-items: center;
    max-height: 50;
    margin: 90px;
    padding: 100px;
}
.contact{
    align-items: center;
    max-height: 50;
    margin: 90px;
    padding: 100px;
}