<p>review works!</p>

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
            </div>
            <p>FlowerShopping Has A Consumer Rating Of 4.68 Stars From 148,964 Reviews Indicating That Most Customers Are Generally Satisfied With Their Purchases. Consumers Satisfied With FlowerShopping Most Frequently Mention Day Delivery, Great Selection And Funeral Home. FlowerShopping Ranks 2nd Among Flower Delivery Sites.</p>
            <div class="user">
                <img src="https://www.fnp.com/images/pr/l/v20220706181849/young-love-colourful-bouquet_1.jpg" alt="">
                <div class="user-info">
                    <h3>Dolly</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
            </div>
            <p>FlowerShopping Has A Consumer Rating Of 4.68 Stars From 148,964 Reviews Indicating That Most Customers Are Generally Satisfied With Their Purchases. Consumers Satisfied With FlowerShopping Most Frequently Mention Day Delivery, Great Selection And Funeral Home. FlowerShopping Ranks 2nd Among Flower Delivery Sites..</p>
            <div class="user">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEpwhdinI1vxC-DOzYzxLVcsqNUJ3I6XSiRKoSOZNCxODYeZOlIC0S4teKG5GgThXYCDc&usqp=CAU" alt="">
                <div class="user-info">
                    <h3>Harry</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right">"</span>
        </div>
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
                <i class="fas fa-star">✩</i>
            </div>
            <p>FlowerShopping Has A Consumer Rating Of 4.68 Stars From 148,964 Reviews Indicating That Most Customers Are Generally Satisfied With Their Purchases. Consumers Satisfied With FlowerShopping Most Frequently Mention Day Delivery, Great Selection And Funeral Home. FlowerShopping Ranks 2nd Among Flower Delivery Sites.</p>
            <div class="user">
                <img src="https://cdn.store-assets.com/s/239625/i/44242488.jpg?width=480" alt="">
                <div class="user-info">
                    <h3>Dany</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right">"</span>
        </div>
    
    </div>
        
    </section>
    
    <!-- review section ends -->
