<p>product works!</p>
<!-- prodcuts section starts  -->

<section class="products" id="products">

    <h1 class="heading"> latest <span>products</span> </h1>

    <div class="box-container">

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrVht0PWBcyaZdZQQkBMgHbNjifhZAVOHOqw&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="https://cdn.nikkiflower.com/assets/uploads/product_image/1357/small/1613047518_0.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-5%</span>
            <div class="image">
                <img src="https://content.jdmagicbox.com/comp/surat/g4/0261px261.x261.130103152209.f9g4/catalogue/devmali-fresh-flowers-katargam-surat-ffxdh-250.jpg?clr=" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-20%</span>
            <div class="image">
                <img src="https://cdn.shopify.com/s/files/1/0549/8421/2633/products/ven-163-f-317_1248__il4qohqbp9hvpehe_c5401852-705d-48c4-aeff-0afcdb3e1437_400x.jpg?v=1616429620" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-17%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTobfbl-l2xOPv4ZGsHKAcJZomgCCT1ctDEpA&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-3%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0IBw9m9LnJ37ItOJC6hZEeEMcgdxlQnzUXqmSuSSmMHJnKB_Zz46FN-tkCzjJI_HWUso&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-18%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZ7it-U_sg2WmX0YsmDvRlRrEjte_OTkZvQ&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbbdbkcMq6wFNWXaBC629OUW07VutXsf59Qg&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-5%</span>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIO4rbNMxsqPNeHAJOGO9dE38qY8aADAbXyw&usqp=CAU" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart">♡</a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share">➥</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

    </div>

</section>

<!-- prodcuts section ends -->

